#replace{
	width:350px;
	height:350px;
	border: 2px solid lightgray;
	margin:auto;
	margin-top:20px;
}
img{
	height: 345px;
	width: 345px;
}
.col-xs-5{
	margin-left: 600px;
	margin-top: 10px;
}
body{
	background-image: url("b.jpg");
}